/* DRAWER */

.cart-drawer{
position:fixed;
top:0;
right:-100%;
width:30px; /* added */
height:100vh;
background:white;
z-index:2000;

transition:right .35s ease;

display:flex;
flex-direction:column;
}

.cart-drawer.open{
right:0;
}

/* HEADER */

.cart-head{
height:80px;
background:black;

display:flex;
align-items:center;
justify-content:space-between;

padding:0 18px;

position:sticky;
top:0;
z-index:20;
}

.cart-head h3{
color:white;
font-size:14px;
font-weight:600;
letter-spacing:.5px;
}

.cart-head button{
width:24px;
height:24px;

border:none;
border-radius:50%;

background:#2a2a2a;
color:white;

font-size:16px;
cursor:pointer;
}

/* ITEMS */

.cart-items{
flex:1;
overflow-y:auto;

padding:16px 14px 150px;

display:flex;
flex-direction:column;
gap:35px;
}

/* CARD */

.cart-card{
display:flex;
gap:12px;
align-items:flex-start;
}

/* IMAGE */

.cart-card img{
width:85px;
height:85px;
object-fit:contain;
background:transparent;
}

/* INFO */

.cart-info{
flex:1;
position:relative;
}

.cart-name{
font-size:13px;
font-weight:600;
line-height:1.3;
margin-bottom:6px;
padding-right:60px;
color:#111;
}

.cart-price{
position:absolute;
top:0;
right:0;

font-size:13px;
font-weight:600;
color:#444;
}

.cart-size{
font-size:12px;
color:#666;
margin-bottom:14px;
}

/* QTY */

.cart-qty{
display:flex;
align-items:center;
gap:10px;
width: 40%;
margin-top: -8px;
}

/* QTY BOX */

.cart-qty button{
width:30px;
height:30px;
background:transparent;
font-size:14px;
cursor:pointer;
border: none;
}

.cart-qty span{
width:30px;
height:30px;
display:flex;
align-items:center;
justify-content:center;
font-size:12px;
font-weight:600;
}

/* DELETE */

.delete-icon{
font-size:14px;
color:red;
cursor:pointer;
margin-right: 8px;
}
.cart-qty-n {
    display: flex;
    border: 1px solid black;

}

/* FOOTER */

.cart-footer{
position:sticky;
bottom:0;

background:white;

padding:22px 20px calc(22px + env(safe-area-inset-bottom));

display:flex;
flex-direction:column;
gap:12px;
}

/* CHECKOUT */

.checkout-btn{
width:100%;
height:48px;

background:black;
color:white;

border:none;

font-size:14px;
font-weight:600;

cursor:pointer;
}

/* VIEW CART */

.view-cart-btn{
background:none;
font-size:13px;
font-weight:500;

text-decoration:underline;

cursor:pointer;
color:#333;
}

/* TABLET */

@media (min-width:768px){

.cart-drawer{
width:460px;
right:-460px;
}

.cart-drawer.open{
right:0;
}

.cart-items{
padding:25px 24px 180px;
}
}

/* DESKTOP */

@media (min-width:1200px){

.cart-drawer{
width:480px;
right:-560px;
}


.cart-drawer.open{
right:0;
}
}