.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: #0d0d0d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  z-index: 1000;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.nav-logo img {
  height: 40px;
}

/* SEARCH DROPDOWN */

.search-dropdown {
  position: fixed;
  top: 70px;
  width: 100%;
  background: #e6e6e6;
  padding: 30px 20px;
  z-index: 999;
}

.search-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-input-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  background: transparent;
  border-bottom: 1px solid #000;
  padding-bottom: 8px;
}

.search-input-wrapper input {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  font-size: 14px;
  margin-left: 10px;
}

.search-icon {
  font-size: 14px;
}

.close-icon {
  cursor: pointer;
}

.recent-search {
  margin-top: 30px;
  text-align: center;
}

.recent-search h4 {
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.recent-search p {
  margin: 10px 0;
  font-size: 14px;
  cursor: pointer;
}

/* Sidebar full style */
.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 280px;
  height: 100vh;
  background: #f2f2f2;
  transition: left 0.4s ease;
  z-index: 1002;
  display: flex;
  flex-direction: column;
}

.sidebar.open {
  left: 0;
}

/* Header */
.sidebar-header {
  background: #0d0d0d;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-close {
  position: absolute;
  left: 20px;
  background: #333;
  border: none;
  color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
}

.sidebar-logo {
  height: 35px;
}

/* Links */
.sidebar-links {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.sidebar-links a {
  text-decoration: none;
  color: #222;
  font-size: 15px;
}

/* Active link */
.sidebar-links a.active {
  font-weight: 700;
}

/* Divider */
.sidebar-divider {
  height: 1px;
  background: #ddd;
  margin: 10px 0;
}

/* Extra */
.sidebar-extra {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-size: 14px;
}

.sidebar-extra a {
  text-decoration: none;
  color: #222;
}

.sidebar-extra p {
  color: #555;
  font-size: 13px;
}