.product-details{
background:white;
padding-top:70px;
}

/* PRODUCT GALLERY */

.product-gallery{
position:relative;
background:#efefef;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
padding:50px 0 20px;
}

.product-image{
width:75%;
max-height:420px;
object-fit:contain;
}

/* ARROWS */

.arrow{
position:absolute;
top:50%;
transform:translateY(-50%);
font-size:20px;
cursor:pointer;
color:#333;
}

.left{left:15px;}
.right{right:15px;}

/* DOTS */

.dots{
margin-top:15px;
}

.dot{
width:6px;
height:6px;
margin:0 4px;
background:#ccc;
display:inline-block;
border-radius:50%;
}

.dot.active{
background:#000;
}

/* TITLE */

.product-title{
padding:20px;
border-top:2px solid black;
border-bottom:2px solid black;
}

.product-title h2{
font-size:14px;
font-weight:600;
margin-bottom:6px;
}

.price{
font-size:14px;
/* font-weight: 100; */
}

/* SIZE */

.size-section{
padding:20px;
border-bottom:1px solid #ddd;
}

.size-header{
display:flex;
justify-content:space-between;
font-size:13px;
margin-bottom:10px;
}

.size-grid{
display:grid;
grid-template-columns:repeat(6,1fr);
}

.size{
border:1px solid #ddd;
padding:12px;
background:#efefef;
font-size:13px;
cursor:pointer;
}

.size.active{
border:1px solid black;
background:white;
}

/* CART SECTION */

.cart-section{
padding:20px;
}

.qty-label{
font-size:12px;
display:block;
margin-bottom:10px;
}

.cart-row{
display:flex;
gap:10px;
}

.qty-box{
display:flex;
border:1px solid #ddd;
}

.qty-box button{
width:40px;
height:40px;
background:#efefef;
border:none;
font-size:18px;
}

.qty-box span{
width:40px;
display:flex;
align-items:center;
justify-content:center;
border-left:1px solid #ddd;
border-right:1px solid #ddd;
}

.add-cart{
flex:1;
border:1px solid #ddd;
background:#efefef;
font-size:12px;
}

/* BUY NOW */

.buy-btn{
margin:0 20px 20px;
width:calc(100% - 40px);
padding:16px;
background:black;
color:white;
border:none;
font-weight:600;
letter-spacing:.5px;
}

/* SHIPPING */

.shipping{
padding:20px;
}

.shipping h3{
display:flex;
align-items:center;
gap:10px;
font-size:15px;
margin-bottom:12px;
}

.shipping ul{
padding-left:18px;
}

.shipping li{
font-size:13px;
margin-bottom:10px;
color:#444;
}
.size-guide{
font-size:13px;
text-decoration:underline;
cursor:pointer;
color:#333;
}

.size-guide:hover{
color:black;
}

/* CART MODAL */

.cart-modal-overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.6);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:2000;
}

.cart-modal{
  background:#1c1c1c;
  padding:30px;
  border-radius:10px;
  width:350px;
  text-align:center;
}

.cart-modal-actions{
  display:flex;
  gap:10px;
}

.continue-btn{
  flex:1;
  padding:10px;
  border:1px solid #333;
  background:#222;
  color:#fff;
}

.go-cart-btn{
  flex:1;
  padding:10px;
  border:1px solid #333;
  background:#000;
  color:#fff;
}