.promo-section {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top:0;
  padding-top:0;
  overflow: hidden;

  /* remove fixed height */
  min-height: 400px;
}

/* Individual Card */
.promo-card {
  background: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 20px;
}

.promo-card img {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: contain;
  margin-bottom: clamp(20px, 4vw, 65px);
  display: block;
}

.promo-card h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.promo-card button {
  background: #131313;
  color: #fff;
  border: none;
  padding: 14px 20px;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.promo-card button:hover {
  background: #333;
}

/* Desktop Layout */
@media (min-width: 768px) {
  .promo-section {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    /* height only for desktop */
    height: 400px;
  }

  .promo-card {
    flex: 1;
    height: 100%;
  }

  .bag {
    height: calc(100% + 50px);
  }
}

@media (max-width:767px){

.promo-card{
  padding:0 20px 10px;
}

.promo-card img{
  margin-bottom:25px;
}

}