.showcase {
  width: 100%;
}

/* GRID */

.showcase-grid {
  width: 100%;
  display: flex;
}

/* EACH IMAGE */

.showcase-item {
  width: 50%;
  overflow: hidden;
}

/* IMAGE */

.showcase-item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

/* MOBILE */

@media (max-width: 767px) {
  .showcase-grid {
    flex-direction: row;
  }

  .showcase-item {
    width: 50%;
  }

  .showcase-item img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

/* TABLET */

@media (min-width: 768px) {
  .showcase-item img {
    width: 100%;
    height: auto;
  }
}

/* DESKTOP */

@media (min-width: 1024px) {
  .showcase-item img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}